.vscode/**
.github
.husky


**/dist/
**/tests/__snapshots/
**/node_modules/


.eslintrc.js
eslint.config.js

prettier.config.js
.prettierrc.js
lint-staged.config.cjs
commitlint.config.cjs

.travis.yml

jest.config.js